body {
    background-color: #cc0001;
    font-family: 'Pusab', sans-serif;
  }
  

  h1 {
    color: white;
    text-align: center;
    vertical-align: 50%;
  }
  
  img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

#h2 {
    position: absolute;
    bottom: 0;
    right: 100;
  }
  